<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="csvgen-ui.ZPM">
    <Module>
      <Name>csvgen-ui</Name>
      <Version>1.0.2</Version>
      <Description>csvgen-ui for IRIS</Description>
      <Keywords>REST,Full-stack,angular</Keywords>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>csvgen</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <CSPApplication CookiePath="/csp/${namespace}/csvgen" DefaultTimeout="900" DeployPath="${cspdir}/csvgen" MatchRoles=":${dbrole}" PasswordAuthEnabled="0" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" SourcePath="/front/dist/csvgen-ui" UnauthenticatedEnabled="1" Url="/csp/${namespace}/csvgen" UseSessionCookie="2"/>
      <SourcesRoot>src</SourcesRoot>
      <Resource Directory="cls" Name="CSVGEN.PKG"/>
      <CSPApplication CookiePath="/api/${namespace}/csvgen/" DefaultTimeout="900" DispatchClass="CSVGEN.API.Dispatch" MatchRoles=":%All" PasswordAuthEnabled="0" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/api/${namespace}/csvgen" UseSessionCookie="2"/>
      <!--UnitTest Name="/tests" Package="UnitTest" Phase="test"/-->
      <Invokes>
        <Invoke Class="CSVGEN.API.Dispatch" Method="Info"></Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>